/* index.css */

/* Import de la police Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Style général */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 5px;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}

/* Liens */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
